{% extends '@Maerquin/base.html.twig' %}

{% block content %}
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <h1>MAERQUIN SPELER LOGIN</h1>
            </div>
        </div>

        <form method="POST" action="">
            <div class="login">

                {% if success == true %}
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <h2>Nieuw wachtwoord instellen</h2>
                            <div>Het wachtwoord voor uw account is gewijzigd.</div>
                        </div>
                    </div>
                {% else %}

                    {% if error %}
                        <div class="row mt-4">
                            <div class="col-md-12 text-center">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ error }}
                            </div>
                        </div>
                    {% endif %}

                <div class="row mt-4">
                    <div class="col-md-3 text-right">
                        <label for="password_primary">Gewenst wachtwoord</label>
                    </div>
                    <div class="col-md-9">
                        <input type="password" id="password_primary" name="_password_primary" autocomplete="off" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label for="password_secondary">Herhaal gewenst wachtwoord</label>
                    </div>
                    <div class="col-md-9">
                        <input type="password" id="password_secondary" name="_password_secondary" autocomplete="off" class="form-control" />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <button class="btn btn-info float-right" type="submit">Instellen</button>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            {% endif %}
        </form>

    </div>
{% endblock %}