
{% verbatim %}

    <div class="row">
        <div class="col-md-6">

            <div class="model-list" ng-style="{ height: autoHeight }">
                <div ng-repeat="model in modelList" class="row list-item" ng-class-odd="'odd'">
                    <div class="col-md-12" ng-click="viewItem(model.id)">{{ model.name }}</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="record">
                <div rn-compile="recordView"></div>
            </div>
        </div>
    </div>
{% endverbatim %}