{% extends '@Maerquin/base.html.twig' %}

{% block content %}


    <div class="main-container">
        <div class="row">
            <div class="col-md-12"><h1 class="title">Maerquin speler en spelregel systeem</h1></div>
        </div>

        <div class="main">

            <div class="row">
                <div class="col-md-12"></div>
            </div>

        </div>

    </div>

{% endblock %}